<div
  [ngClass]="
    message()?.userSend?.id === userId
      ? ['wrapper-sended-message']
      : ['wrapper-received-message']
  "
>
  <img
    class="user-avatar-send"
    [src]="message()?.userSend?.avatar"
    alt=""
    [hidden]="message()?.userSend?.id === userId"
  />
  <div [ngClass]="message()?.userSend?.id === userId ? [''] : ['received-message']">
    <div class="message-and-menu">
      @if(message()?.userSend?.id === userId) {
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
        [hidden]="isReplyMessage()"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-card appearance="outlined" class="send-message">
        <mat-card-content>{{ message()?.content }}</mat-card-content>
      </mat-card>
      } @else {
      <mat-card appearance="outlined">
        <mat-card-content>{{ message()?.content }}</mat-card-content>
      </mat-card>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
        [hidden]="isReplyMessage()"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      }
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="handleOpenThread()">
        <mat-icon>reply</mat-icon>
        <span>Phản hồi</span>
      </button>
    </mat-menu>
    <span
      class="show-reply-button"
      (click)="handleOpenThread()"
      [hidden]="message()?.replyMessage?.length ? false : true"
      [ngClass]="message()?.userSend?.id === userId ? ['align-right'] : ['']"
      ><i>
        {{ message()?.replyMessage && message()?.replyMessage?.length }} phản
        hồi</i
      ></span
    >
    <p
      class="date-message"
      [ngClass]="
        message()?.userSend?.id === userId
          ? ['date-sended-message']
          : ['date-message']
      "
    >
      {{ message()?.date }}
    </p>
  </div>
</div>
